@import "tailwindcss";
@plugin "daisyui";
/* @plugin "daisyui/theme" {
     name: "light";
     default: true;
     --color-primary: blue;
     --color-secondary: teal;
} */


.defaultH1 {
     @apply text-5xl text-slate-700 font-medium
}

.defaultP {
     @apply text-gray-500
}